<?xml version ="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Arcadia Project Test Suite" verbose="1">
<listeners>
<listener class-name="com.Arcadia.ExtentReporting.ExtentReportIListener"/>
</listeners>
	<test name="Arcadia Project Test cases ">
		<classes>
			<class name="com.Arcadia.Testcases.LoginPageTest"></class>
			<class name="com.Arcadia.Testcases.HomePageTest" ></class>
		</classes>
	</test>
</suite>




